@{
    ViewBag.Title = "Home Page";
}

    <ol class="progtrckr" data-progtrckr-steps="5">
        <li class="progtrckr-done">Order Processing</li>
        <li class="progtrckr-done">Pre-Production</li>
        <li class="progtrckr-done">In Production</li>
        <li class="progtrckr-done">Shipped</li>
        <li class="progtrckr-todo">Delivered</li>
    </ol>
